server {
    listen 80;
    listen [::]:80;
    server_name {{ server_name }};

    # Redirection HTTP vers HTTPS
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ server_name }};

    ssl_certificate /etc/nginx/ssl/{{ server_name }}.crt;
    ssl_certificate_key /etc/nginx/ssl/{{ server_name }}.key;

    location / {
        proxy_pass http://localhost:8080;
    }
}